header {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 1em calc(1em + 1vw);
  font-weight: 300;
  gap: calc(1rem + 1.5vw);

  p {
    font-size: 1.5rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: var(--link-trans);
    li {
      &:hover {
        transform: translateY(-1px);
        transition: var(--link-trans);
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: var(--clr-accent);
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    svg {
      &:hover {
        transform: scale(1.05);
        transition: var(--link-trans);
        cursor: pointer;
      }
    }
  }
}
